/* Căn bảng sát lề trái */
.custom-table {
    margin-left: 0;
    border-collapse: collapse;
    width: 100%; /* Giãn bảng ra toàn chiều rộng container */
  }
  
  /* Thêm đường viền đen bao quanh bảng */
  .custom-table .ant-table-wrapper {
    border: 1px solid black;
  }
  
  /* Đường viền ô và căn giữa nội dung */
  .custom-table .ant-table-thead > tr > th,
  .custom-table .ant-table-tbody > tr > td {
    border: 1px solid black; /* Đường viền cho từng ô */
    text-align: center; /* Căn giữa nội dung */
    padding: 8px; /* Khoảng cách giữa nội dung và viền */
  }
  
  /* Tô nền tiêu đề bảng */
  .custom-table .ant-table-thead > tr > th {
    background-color: #f2f2f2; /* Nền sáng */
    font-weight: bold; /* Chữ đậm */
  }
  
  .custom-tree .ant-tree {
    position: relative;
  }
  
  .custom-tree .ant-tree-treenode {
    position: relative;
  }
  
  .custom-tree .ant-tree-treenode::before {
    content: '';
    position: absolute;
    top: 0;
    left: -20px;
    width: 20px;
    height: 100%;
    border-left: 1px solid #ccc;
  }
  
  .custom-tree .ant-tree-treenode span.ant-tree-switcher {
    display: inline-block;
    width: 20px;
    height: 20px;
    border: 1px solid #ccc;
    border-radius: 50%;
  }
  
  .custom-tree .ant-tree-treenode span.ant-tree-node-content-wrapper {
    display: inline-block;
    margin-left: 8px;
    color: #333;
  }
  