.container {
    background: #fff;
    display: flex;
    padding: 0 0 24px;
    flex-direction: column;
    overflow: hidden;
  }
  
  .header {
    background: #3D8EEB;
    width: 100%;
    color: #fff;
    padding: 25px 13px;
    font: 700 24px Inter, sans-serif;
  }
  
  .content {
    align-self: end;
    margin-top: 85px;
    width: 100%;
    max-width: 2442px;
  }
  
  .mainLayout {
    gap: 20px;
    display: flex;
  }
  
  .sidebarColumn {
    display: flex;
    flex-direction: column;
    line-height: normal;
    width: 33%;
  }
  
  .recentSection {
    display: flex;
    gap: 20px;
  }
  
  .recentTitle {
    color: #1100FF;
    font: 700 40px Inter, sans-serif;
    width: 22%;
  }
  
  .recentList {
    width: 78%;
    margin-left: 20px;
    margin-top: 184px;
    color: #000;
    font: 700 24px Inter, sans-serif;
  }
  
  .recentItem {
    margin-top: 22px;
  }
  
  .suggestionColumn {
    display: flex;
    flex-direction: column;
    line-height: normal;
    width: 67%;
    margin-left: 20px;
  }
  
  .suggestionContent {
    display: flex;
    margin-top: 24px;
    width: 100%;
    flex-direction: column;
    align-items: start;
    font: 700 20px Inter, sans-serif;
  }
  
  .suggestionTitle {
    color: #000;
    font-size: 40px;
  }
  
  .previewContainer {
    display: flex;
    width: 236px;
    max-width: 100%;
    flex-direction: column;
    color: #000;
    font-weight: 500;
    margin: 42px 0 0 10px;
  }
  
  .previewBox {
    border-radius: 10px;
    background: #D9D9D9;
    display: flex;
    height: 244px;
    aspect-ratio: 1;
  }
  
  .createNew {
    align-self: start;
    margin-top: 56px;
  }
  
  .actionButtons {
    align-self: end;
    display: flex;
    margin-top: 284px;
    width: 342px;
    max-width: 100%;
    gap: 20px;
    justify-content: space-between;
  }
  
  .cancelButton {
    border-radius: 10px;
    background: #D9D9D9;
    color: #000;
    padding: 13px 34px;
    border: 1px solid #000;
  }
  
  .saveButton {
    border-radius: 10px;
    background: #3D8EEB;
    color: #fff;
    padding: 13px 34px;
    border: 1px solid #000;
  }
  
  @media (max-width: 991px) {
    .header {
      max-width: 100%;
      padding-right: 20px;
    }
    
    .content {
      max-width: 100%;
      margin: 40px 10px 0 0;
    }
    
    .mainLayout {
      flex-direction: column;
      align-items: stretch;
      gap: 0;
    }
    
    .sidebarColumn {
      width: 100%;
    }
    
    .recentSection {
      flex-direction: column;
      align-items: stretch;
      gap: 0;
      margin-top: 40px;
    }
    
    .recentList {
      width: 100%;
      margin-top: 40px;
    }
    
    .suggestionColumn {
      width: 100%;
    }
    
    .suggestionContent {
      margin-top: 40px;
    }
    
    .previewContainer {
      margin-top: 40px;
    }
    
    .createNew {
      margin-top: 40px;
    }
    
    .actionButtons {
      margin-top: 40px;
    }
    
    .cancelButton,
    .saveButton {
      padding: 0 20px;
    }
  }